.element-spacing
  .assets-logo-iugu-ux

%h1
  Containers

.container
  %p.no-bottom-margin
    A container

.container.small-padding
  %p.no-bottom-margin
    A container with small padding

.container.no-padding
  %p.no-bottom-margin
    A container without padding

.container
  .container.no-bottom-margin
    %p.no-bottom-margin
      A container inside a container

.container.no-padding
  .header
    %p.no-bottom-margin
      With header
  .padding
    %p.no-bottom-margin
      A container inside a container
  .footer
    %p.no-bottom-margin
      With Footer

.container
  .container.covered.no-bottom-margin
    Text inside a covered container

%h1
  Buttons

.container
  %a.button.small{ :href => "#" }
    Small Button

  %a.button{ :href => "#" }
    Normal Button

  %a.no-bottom-margin.button.large{ :href => "#" }
    Large Button

.container
  .container.covered.no-bottom-margin.small-padding
    %a.button.dark.small.full-width.no-bottom-margin{ :href => "#" }
      Small Button

.container
  .group
    %a.button.small.full-width{ :href => "#" }
      Small Button
    %a.button.small.full-width{ :href => "#" }
      Small Button
    %a.button.small.disabled.full-width{ :href => "#" }
      Small Button
    %a.button.small.full-width{ :href => "#" }
      Small Button

.container
  .group.horizontal_stacking
    %a.button{ :href => "#" }
      A
    %a.button.disabled{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button.active{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      %div.assets-star-icon.no-space
        &nbsp;
    %a.button{ :href => "#" }
      A

  .group.horizontal_stacking
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A

.container
  .group.horizontal_stacking{ :style => "width: 100%" }
    %a.button.large.active{ :href => "#", :style => "width: 50%" }
      A
    %a.button.large{ :href => "#", :style => "width: 50%" }
      A

.container
  .group.vertical_stacking
    %a.button{ :href => "#" }
      A
    %a.button.disabled{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button.active{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A
    %a.button{ :href => "#" }
      A

.container
  .group.vertical_stacking
    %a.button.large.tal{ :href => "#" }
      .assets-star-icon
      ABC
      .right.badge
        135
    %a.button.large.tal.disabled{ :href => "#" }
      A
    %a.button.large.tal{ :href => "#" }
      A

.container
  .badge
    patrick
  .badge
    joao da silva
